<!DOCTYPE html lang="fr">
<html>

<head>
    <meta charset="utf-8">
    <title>StudenTravel - Découvrir une ville d'Europe avec un guide touristique étudiant.</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/style.css">


</head>

<body>

    <header class="site-header cf">
        <div class="container">
            <div class="site-logo">
                <h1>StudenTravel</h1>
            </div>
            <nav class="site-nav">
                <ul id="std-menu">
                    <li><a class="active" href="">Accueil</a></li>
                    <li><a href="../cdestinations/index.php">Destinations</a></li>
                    <li><a href=".DIR_WEBROOT.cinscription">Inscription</a></li>
                    <li><a href=".DIR_WEBROOT.csalarie">Connexion</a></li>
                </ul>
                <a href="" id="menu-trigger"><i class="fa fa-bars fa-lg"></i></a>
            </nav>
        </div>
        <!-- /container -->
    </header>
    <ul id="responsive-menu">
        <li><a class="active" href="">Accueil</a></li>
        <li><a href=.DIR_WEBROOT."cdestinations>Destinations</a></li>
        <li><a href="">Inscription</a></li>
        <li><a href="">Connexion</a></li>
    </ul>

    <div class="welcome-message">
        <div class="container">
            <h1>Découvre et explore une ville entre étudiants</h1>
            <h2>Grâce à un guide touristique qui est étudiant, comme toi !</h2>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <section class="main">
                <article>
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<strong>Error possimus cumque</strong> earum voluptate rem facilis recusandae, accusantium laboriosam obcaecati, necessitatibus molestiae, dolorum sint ea. Nemo, hic, minima, pariatur tempore maxime beatae eum quidem asperiores nam omnis corrupti quasi vel necessitatibus accusamus. Veritatis, assumenda ea in. Veniam sint placeat rem corporis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem illum, tempore veritatis sint voluptate. Id optio ut facere ex, ea itaque distinctio iure impedit. <strong>Veniam beatae rem porro</strong> totam ex recusandae commodi quisquam amet asperiores laboriosam quis perferendis, dicta velit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus minus quae, eos aliquid reprehenderit illo qui. Debitis obcaecati impedit nihil incidunt modi, laborum omnis illo dignissimos eaque, illum reiciendis distinctio, non expedita alias aliquid! Perferendis sint veritatis iure consectetur, maiores unde ullam voluptate reprehenderit! Earum voluptate dolorum neque omnis qui?</p>
                </article>
                <article>
                    <h1>Another title</h1>
                    <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit. Cumque autem laudantium dolores dignissimos unde saepe adipisci ipsa delectus aliquid hic et explicabo odit, alias perferendis soluta est quos ducimus magni facere modi nulla laborum sapiente enim dolor natus. Maxime commodi officia, labore nemo et temporibus animi repellendus perferendis dolorum. Illum.</p>
                </article>
                <article>
                    <h1>And a conclusion</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate unde eos laboriosam porro dolor aut temporibus dolore dignissimos optio laudantium, enim atque incidunt. Cupiditate ipsa deserunt, adipisci quis expedita est magni optio! Assumenda dolor repellendus qui pariatur dolore in mollitia voluptatum sed ad, aspernatur, eius adipisci aliquam, exercitationem esse dolores unde recusandae sint quia. Neque, distinctio reprehenderit ipsa maiores error.</p>
                </article>
            </section>
            <aside class="sidebar">
                <div class="window">
                    <h2>Comment ça marche ?</h2>
                    <p>C'est simple.</p>
                    <p>1. Recherche ta destination</p>
                    <p>2. Renseigne les dates d'arrivée et de départ</p>
                    <p>3. Valide et découvre ensuite les guides touristiques disponibles pendant ton séjour</p>
                </div>
                <div class="window window-has-contact">
                    <form class="form" action="">
                        <h2>Rechercher une destination rapidement</h2>
                        <div class="form-block">
                            <label for="name">Destination</label>
                            <input type="text" id="name" />
                        </div>
                        <div class="form-block">
                            <label for="email">Arrivée</label>
                            <input type="email" id="email" />
                        </div>
                        <div class="form-block">
                            <label for="message">Départ</label>
                            <textarea id="message" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-block">
                            <button id="send-btn" type="submit">Valider</button>
                        </div>
                    </form>
                </div>
            </aside>
        </div>
        <footer class="site-footer">
            <p>&copy; <a href="">StudenTravel</a>, Tout droits réservés.</p>
        </footer>
    </div>
    <!--\Container-->

</body>
<script type="text/javascript" src="../../../js/jquery-3.2.1.min.js"> </script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js"> </script>
<script type="text/javascript" src="../../../js/script.js"></script>
</html>
